<h1>The Movies are</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID #</th>
            <th>Move Title</th>
            <th>Genres</th>
            <th>Year</th>
            <th>Actors</th>
            <th>Plot</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const inst = course['instructor'];
        const term = course.term;
        const sem = term%10;
        const semester=['none','Spring 2021','Summer 2021','Fall 2020']
         %>
        
      <tr class="mb-2"> 
        <td>
            <strong><%= course.id %></strong>
        </td>

        <td>
            <strong><%= course.title %></strong>
        </td>
        <td>
            <strong><%= course.genres %></strong>
        </td>

        <td>
            <strong><%= course.year %></strong>
        </td>
            
        <td>
            <strong><%= course.actors %></strong>
        </td>
        <td>
            <strong><%= course.plot %></strong>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>